body{
    background: #B0C4DE;

}

header{
    background-color: #1c4966;
}

#lontrinha{
    width: 6em;
	height: 5em;
	position: relative;
	top: 1.5em;
	left: 2em;
}

.caixa h1{
	font-family: fantasy;
	position: relative;
	left: 5em;
	bottom: 1em;
	font-size: 200%;
	color: #e27602;

}

nav{
    position: relative;
	border: #000000;
	bottom: 3em;
	left: 42em;
}

nav li {
	display: inline-block;
	margin: 0 20px 0 0px;  
}

nav a{
	text-decoration: none;
	position:relative;
	right: 12em;
	bottom:0.5em;
	border: solid;
	background-color: aliceblue;
	padding-left: 1em;
	padding-right: 1em;
	color: #000000;
	font-size: 20px;
	
}

nav a:hover {
	text-transform: uppercase;
	color: #B0C4DE;
	font-weight: bold;
    transition: 0.5s;
	border-radius: 80em;
	box-shadow: 2px 2px 5px 2px #000000;
}

.CadastradoSucesso{
	position: absolute;
    border: 15px solid;
    bottom: 32em;
    left: 38em;
    text-align: justify;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #e27602;
    color: #1c4966;
    font-family: fantasy;
}

#voltar{
	position: relative;
	border: 15px solid #1c4966;
	top: 22.6em;
	width: 15%;
	left: 54em;
	background-color: #e27602;
	cursor: pointer;
}

#voltar:hover{
	background-color: #8E1600;
	-webkit-transition: background 0.5s 0s ease;
	-moz-transition: background 0.5s 0s ease;
	-o-transition: background 0.5s 0s ease;
	transition: background 0.5s 0s ease;
	width: 18%;
	transition: 1s;
}
table{
	text-align: center;
	position: absolute;
	left: 15em;
	border: 5px solid;
	bottom: 10em;
}

table thead{
	background-color: #e27602;
	font-weight: 900;

}

table td{
	background-color: #1c4966;
	width: 10%;
	color: #B0C4DE;
	font-weight: 700;
}

table input{
	background-color: #e27602;
	cursor: pointer;
}

table input:hover{
	background-color: #8E1600;
	-webkit-transition: background 0.5s 0s ease;
	-moz-transition: background 0.5s 0s ease;
	-o-transition: background 0.5s 0s ease;
	transition: background 0.5s 0s ease;
	width: 100%;
	transition: 1s;

}
